<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-Prerender-Token" value="PUT_YOUR_SECRET_API_TOKEN_HERE"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <!-- https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/url-rewrite-module-configuration-reference -->
        <rule name="Prerender" stopProcessing="true">
          <match ignoreCase="false" url="^(?!.*?(\.js|\.css|\.xml|\.less|\.png|\.jpg|\.jpeg|\.gif|\.pdf|\.doc|\.txt|\.ico|\.rss|\.zip|\.mp3|\.rar|\.exe|\.wmv|\.doc|\.avi|\.ppt|\.mpg|\.mpeg|\.tif|\.wav|\.mov|\.psd|\.ai|\.xls|\.mp4|\.m4a|\.swf|\.dat|\.dmg|\.iso|\.flv|\.m4v|\.torrent))(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="googlebot|yahoo|bingbot|baiduspider|twitterbot|facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator|redditbot|Applebot|WhatsApp|flipboard|tumblr|bitlybot"/>
            <add ignoreCase="false" input="{QUERY_STRING}" pattern="_escaped_fragment_"/>
          </conditions>
          <action type="Rewrite" url="http://service.prerender.cloud/http://{HTTP_HOST}{REQUEST_URI}"/>
        </rule>
        <rule name="Redirect To Index" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
